.ActiveBar,
.sidebar {
  background-color: #000000;
  width: 30%;
  height: 100%;
  padding: 10px;
  overflow-y: hidden;
  will-change: transform;
  color: white;
  z-index: 999;
  position: fixed;
  /* margin-left: 10px; */
  /* top: 1%; */
  top: 0;
  right: 0;
}
.leaflet-container {
  background: #ddd;
  outline-offset: 1px;
  height: 100vh !important;
  width: 100% !important;
  z-index: 50;
  overflow: visible !important;
}
/* #sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  min-width: 200px;
} */
/* #root {
  max-width: 1280px;
  margin: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
